# Predicting babyweight using BigQuery ML

This notebook illustrates:
<ol>
<li> Machine Learning using BigQuery
<li> Make a Prediction with BQML using the Model
</ol>

In [ ]:
!sudo chown -R jupyter:jupyter /home/jupyter/training-data-analyst

In [ ]:
# Ensure the right version of Tensorflow is installed.
!pip freeze | grep tensorflow==2.1

In [ ]:
# change these to try this notebook out
PROJECT = 'qwiklabs-gcp-03-66a1cc69b938'
REGION = 'us-central1'

In [ ]:
import os
os.environ['PROJECT'] = PROJECT
os.environ['REGION'] = REGION

In [ ]:
%%bash
gcloud config set project $PROJECT
gcloud config set compute/region $REGION

Updated property [core/project].
Updated property [compute/region].

## Exploring the Data

Here, we will be taking natality data and training on features to predict the birth weight.

The CDC's Natality data has details on US births from 1969 to 2008 and is available in BigQuery as a public data set. More details: https://bigquery.cloud.google.com/table/publicdata:samples.natality?tab=details

Lets start by looking at the data since 2000 with useful values > 0!

In [ ]:
%%bigquery
SELECT
    *
FROM
  publicdata.samples.natality
WHERE
  year > 2000
  AND gestation_weeks > 0
  AND mother_age > 0
  AND plurality > 0
  AND weight_pounds > 0
LIMIT 10

,source_year,year,month,day,wday,state,is_male,child_race,weight_pounds,plurality,...,alcohol_use,drinks_per_week,weight_gain_pounds,born_alive_alive,born_alive_dead,born_dead,ever_born,father_race,father_age,record_weight
0,2001,2001,7,NaN,6,CO,False,9,8.818490,1,...,False,NaN,50,0,0,0,1,1,28,1
1,2001,2001,5,NaN,6,CT,False,9,8.141671,1,...,False,NaN,21,1,0,1,2,1,34,1
2,2001,2001,12,NaN,7,FL,True,9,5.948072,1,...,False,NaN,10,2,0,1,3,2,22,1
3,2001,2001,11,NaN,2,NJ,True,9,8.838332,1,...,False,NaN,20,3,0,0,4,1,27,1
4,2001,2001,8,NaN,5,NY,True,9,9.259415,1,...,False,NaN,60,1,0,2,2,1,38,1
5,2001,2001,1,NaN,5,PA,True,9,7.125340,1,...,False,NaN,18,3,0,0,4,1,36,1
6,2001,2001,2,NaN,5,TX,False,9,7.063611,1,...,False,NaN,99,1,0,0,2,9,99,1
7,2001,2001,2,NaN,5,TX,True,9,7.500126,1,...,False,NaN,15,2,0,0,3,1,36,1
8,2001,2001,2,NaN,4,UT,False,9,6.250105,1,...,False,NaN,15,1,0,0,2,9,99,1
9,2001,2001,1,NaN,6,AZ,False,9,3.999185,1,...,False,NaN,25,0,0,0,1,1,20,1

## Define Features

Looking over the data set, there are a few columns of interest that could be leveraged into features for a reasonable prediction of approximate birth weight.

Further, some feature engineering may be accomplished with the BigQuery `CAST` function -- in BQML, all strings are considered categorical features and all numeric types are considered continuous ones.

The hashmonth is added so that we can repeatably split the data without leakage -- we want all babies that share a birthday to be either in training set or in test set and not spread between them (otherwise, there would be information leakage when it comes to triplets, etc.)

In [ ]:
%%bigquery
SELECT
    weight_pounds, -- this is the label; because it is continuous, we need to use regression
    CAST(is_male AS STRING) AS is_male,
    mother_age,
    CAST(plurality AS STRING) AS plurality,
    gestation_weeks,
    FARM_FINGERPRINT(CONCAT(CAST(YEAR AS STRING), CAST(month AS STRING))) AS hashmonth
FROM
  publicdata.samples.natality
WHERE
  year > 2000
  AND gestation_weeks > 0
  AND mother_age > 0
  AND plurality > 0
  AND weight_pounds > 0
LIMIT 10

,weight_pounds,is_male,mother_age,plurality,gestation_weeks,hashmonth
0,7.063611,true,32,1,37,7108882242435606404
1,4.687028,true,30,3,33,-7170969733900686954
2,7.561856,true,20,1,39,6392072535155213407
3,7.561856,true,31,1,37,-2126480030009879160
4,7.312733,true,32,1,40,3408502330831153141
5,7.627994,false,30,1,40,-2126480030009879160
6,7.251004,true,33,1,37,3408502330831153141
7,7.500126,false,23,1,39,5896567601480310696
8,7.125340,false,33,1,39,-7146494315947640619
9,7.749249,true,31,1,39,-7146494315947640619

## Train Model

With the relevant columns chosen to accomplish predictions, it is then possible to create (train) the model in BigQuery. First, a dataset will be needed store the model. (if this throws an error in Datalab, simply create the dataset from the BigQuery console).

In [ ]:
%%bash
bq --location=US mk -d demo

Dataset 'qwiklabs-gcp-03-66a1cc69b938:demo' successfully created.

With the demo dataset ready, it is possible to create a linear regression model to train the model.

This will take approximately **4 minutes** to run and will show **Done** when complete.

In [ ]:
%%bigquery
CREATE or REPLACE MODEL demo.babyweight_model_asis
OPTIONS
  (model_type='linear_reg', labels=['weight_pounds'], min_rel_progress=0.0001) AS
  
WITH natality_data AS (
  SELECT
    weight_pounds,-- this is the label; because it is continuous, we need to use regression
    CAST(is_male AS STRING) AS is_male,
    mother_age,
    CAST(plurality AS STRING) AS plurality,
    gestation_weeks,
    FARM_FINGERPRINT(CONCAT(CAST(YEAR AS STRING), CAST(month AS STRING))) AS hashmonth
  FROM
    publicdata.samples.natality
  WHERE
    year > 2000
    AND gestation_weeks > 0
    AND mother_age > 0
    AND plurality > 0
    AND weight_pounds > 0
)

SELECT
    weight_pounds,
    is_male,
    mother_age,
    plurality,
    gestation_weeks
FROM
    natality_data
WHERE
  ABS(MOD(hashmonth, 4)) < 3  -- select 75% of the data as training

Empty DataFrame
Columns: []
Index: []

## Training Statistics

During the model training (and after the training), it is possible to see the model's training evaluation statistics.

For each training run, a table named `<model_name>_eval` is created. This table has basic performance statistics for each iteration.

While the new model is training, review the training statistics in the BigQuery UI to see the below model training: https://bigquery.cloud.google.com/

Since these statistics are updated after each iteration of model training, you will see different values for each refresh while the model is training.

The training details may also be viewed after the training completes from this notebook.

In [ ]:
%%bigquery
SELECT * FROM ML.TRAINING_INFO(MODEL demo.babyweight_model_asis);

   training_run  iteration      loss  eval_loss  learning_rate  duration_ms
0             0          0  1.130197   1.129226            NaN        28798

Some of these columns are obvious although what do the non-specific ML columns mean (specific to BQML)?

**training_run** - Will be zero for a newly created model. If the model is re-trained using warm_start, this will increment for each re-training.

**iteration** - Number of the associated `training_run`, starting with zero for the first iteration.

**duration_ms** - Indicates how long the iteration took (in ms).

Note: You can also see these stats by refreshing the BigQuery UI window, finding the `<model_name>` table, selecting on it, and then the Training Stats sub-header.

Observe the training and evaluation loss and see if the model has an overfit.

## Make a Prediction with BQML using the Model

With a trained model, it is now possible to make a prediction on the values. The only difference from the second query above is the reference to the model. The data has been limited (`LIMIT 100`) to reduce amount of data returned.

When the `ml.predict` function is leveraged, output prediction column name for the model is `predicted_<label_column_name>`.

In [ ]:
%%bigquery
SELECT
  *
FROM
  ml.PREDICT(MODEL demo.babyweight_model_asis,
      (SELECT
        weight_pounds,
        CAST(is_male AS STRING) AS is_male,
        mother_age,
        CAST(plurality AS STRING) AS plurality,
        gestation_weeks
      FROM
        publicdata.samples.natality
      WHERE
        year > 2000
        AND gestation_weeks > 0
        AND mother_age > 0
        AND plurality > 0
        AND weight_pounds > 0
    ))
LIMIT 100

,predicted_weight_pounds,weight_pounds,is_male,mother_age,plurality,gestation_weeks
0,8.134283,6.856376,true,32,1,41
1,7.677147,8.185764,true,23,1,40
2,7.533367,6.375769,false,29,1,40
3,7.533367,7.874912,false,29,1,40
4,7.163201,7.647836,false,24,1,39
...,...,...,...,...,...,...
95,7.293658,7.764681,false,30,1,39
96,7.677147,7.691928,true,23,1,40
97,7.358886,6.000983,false,33,1,39
98,7.219472,7.438397,true,26,1,38
99,7.011002,6.311835,false,17,1,39

# More advanced...

In the original example, we were taking into account the idea that if no ultrasound has been performed, some of the features (e.g. is_male) will not be known. Therefore, we augmented the dataset with such masked features and trained a single model to deal with both these scenarios.

In addition, during data exploration, we learned that the data size set for mothers older than 45 was quite sparse, so we will discretize the mother age.

In [ ]:
%%bigquery
SELECT
    weight_pounds,
    CAST(is_male AS STRING) AS is_male,
    IF(mother_age < 18, 'LOW',
         IF(mother_age > 45, 'HIGH',
            CAST(mother_age AS STRING))) AS mother_age,
    CAST(plurality AS STRING) AS plurality,
    CAST(gestation_weeks AS STRING) AS gestation_weeks,
    FARM_FINGERPRINT(CONCAT(CAST(YEAR AS STRING), CAST(month AS STRING))) AS hashmonth
  FROM
    publicdata.samples.natality
  WHERE
    year > 2000
    AND gestation_weeks > 0
    AND mother_age > 0
    AND plurality > 0
    AND weight_pounds > 0
LIMIT 25

,weight_pounds,is_male,mother_age,plurality,gestation_weeks,hashmonth
0,7.063611,true,32,1,37,7108882242435606404
1,4.687028,true,30,3,33,-7170969733900686954
2,7.561856,true,20,1,39,6392072535155213407
3,7.561856,true,31,1,37,-2126480030009879160
4,7.312733,true,32,1,40,3408502330831153141
5,7.627994,false,30,1,40,-2126480030009879160
6,7.251004,true,33,1,37,3408502330831153141
7,7.500126,false,23,1,39,5896567601480310696
8,7.125340,false,33,1,39,-7146494315947640619
9,7.749249,true,31,1,39,-7146494315947640619
10,7.749249,true,26,1,39,8904940584331855459
11,7.125340,false,25,1,41,-1403073183891835564
12,7.760272,true,34,1,43,6691862025345277042
13,6.937947,false,23,1,39,-2126480030009879160
14,10.725489,false,28,1,39,6691862025345277042
15,6.338290,true,22,1,39,8904940584331855459
16,5.831227,false,27,1,37,-1403073183891835564
17,7.749249,false,22,1,40,3408502330831153141
18,6.250105,true,28,1,41,7108882242435606404
19,8.750147,true,24,1,38,-7170969733900686954
20,8.620074,false,31,1,39,-7170969733900686954
21,5.623992,false,29,1,47,5896567601480310696
22,8.873606,true,30,1,38,5896567601480310696
23,8.750147,false,34,1,40,-1525201076796226340
24,7.749249,true,30,1,40,3408502330831153141

On the same dataset, will also suppose that it is unknown whether the child is male or female (on the same dataset) to simulate that an ultrasound was not been performed.

In [ ]:
%%bigquery
SELECT
    weight_pounds,
    'Unknown' AS is_male,
    IF(mother_age < 18, 'LOW',
         IF(mother_age > 45, 'HIGH',
            CAST(mother_age AS STRING))) AS mother_age,
    IF(plurality > 1, 'Multiple', 'Single') AS plurality,
    CAST(gestation_weeks AS STRING) AS gestation_weeks,
    FARM_FINGERPRINT(CONCAT(CAST(YEAR AS STRING), CAST(month AS STRING))) AS hashmonth
  FROM
    publicdata.samples.natality
  WHERE
    year > 2000
    AND gestation_weeks > 0
    AND mother_age > 0
    AND plurality > 0
    AND weight_pounds > 0
LIMIT 25

,weight_pounds,is_male,mother_age,plurality,gestation_weeks,hashmonth
0,7.063611,Unknown,32,Single,37,7108882242435606404
1,4.687028,Unknown,30,Multiple,33,-7170969733900686954
2,7.561856,Unknown,20,Single,39,6392072535155213407
3,7.561856,Unknown,31,Single,37,-2126480030009879160
4,7.312733,Unknown,32,Single,40,3408502330831153141
5,7.627994,Unknown,30,Single,40,-2126480030009879160
6,7.251004,Unknown,33,Single,37,3408502330831153141
7,7.500126,Unknown,23,Single,39,5896567601480310696
8,7.125340,Unknown,33,Single,39,-7146494315947640619
9,7.749249,Unknown,31,Single,39,-7146494315947640619
10,7.749249,Unknown,26,Single,39,8904940584331855459
11,7.125340,Unknown,25,Single,41,-1403073183891835564
12,7.760272,Unknown,34,Single,43,6691862025345277042
13,6.937947,Unknown,23,Single,39,-2126480030009879160
14,10.725489,Unknown,28,Single,39,6691862025345277042
15,6.338290,Unknown,22,Single,39,8904940584331855459
16,5.831227,Unknown,27,Single,37,-1403073183891835564
17,7.749249,Unknown,22,Single,40,3408502330831153141
18,6.250105,Unknown,28,Single,41,7108882242435606404
19,8.750147,Unknown,24,Single,38,-7170969733900686954
20,8.620074,Unknown,31,Single,39,-7170969733900686954
21,5.623992,Unknown,29,Single,47,5896567601480310696
22,8.873606,Unknown,30,Single,38,5896567601480310696
23,8.750147,Unknown,34,Single,40,-1525201076796226340
24,7.749249,Unknown,30,Single,40,3408502330831153141

Bringing these two separate data sets together, there is now a dataset for male or female children determined with ultrasound or unknown if without.

In [ ]:
%%bigquery
WITH with_ultrasound AS (
  SELECT
    weight_pounds,
    CAST(is_male AS STRING) AS is_male,
    IF(mother_age < 18, 'LOW',
         IF(mother_age > 45, 'HIGH',
            CAST(mother_age AS STRING))) AS mother_age,
    CAST(plurality AS STRING) AS plurality,
    CAST(gestation_weeks AS STRING) AS gestation_weeks,
    FARM_FINGERPRINT(CONCAT(CAST(YEAR AS STRING), CAST(month AS STRING))) AS hashmonth
  FROM
    publicdata.samples.natality
  WHERE
    year > 2000
    AND gestation_weeks > 0
    AND mother_age > 0
    AND plurality > 0
    AND weight_pounds > 0
),

without_ultrasound AS (
  SELECT
    weight_pounds,
    'Unknown' AS is_male,
    IF(mother_age < 18, 'LOW',
         IF(mother_age > 45, 'HIGH',
            CAST(mother_age AS STRING))) AS mother_age,
    IF(plurality > 1, 'Multiple', 'Single') AS plurality,
    CAST(gestation_weeks AS STRING) AS gestation_weeks,
    FARM_FINGERPRINT(CONCAT(CAST(YEAR AS STRING), CAST(month AS STRING))) AS hashmonth
  FROM
    publicdata.samples.natality
  WHERE
    year > 2000
    AND gestation_weeks > 0
    AND mother_age > 0
    AND plurality > 0
    AND weight_pounds > 0
),

preprocessed AS (
  SELECT * from with_ultrasound
  UNION ALL
  SELECT * from without_ultrasound
)

SELECT
    weight_pounds,
    is_male,
    mother_age,
    plurality,
    gestation_weeks
FROM
    preprocessed
WHERE
  ABS(MOD(hashmonth, 4)) < 3
LIMIT 25

    weight_pounds  is_male mother_age plurality gestation_weeks
0        7.568469  Unknown         22    Single              46
1        8.313632  Unknown         23    Single              35
2        8.000575  Unknown         27    Single              40
3        6.563162  Unknown         29    Single              39
4        7.125340  Unknown         34    Single              40
5        8.062305  Unknown        LOW    Single              40
6        7.251004  Unknown        LOW    Single              39
7        7.561856  Unknown         27    Single              39
8        4.468770  Unknown         24    Single              33
9        6.007597  Unknown         27    Single              39
10       7.874912  Unknown         36    Single              39
11       7.125340  Unknown         20    Single              40
12       6.062712  Unknown         28    Single              36
13       8.126239  Unknown         32    Single              40
14       8.800853  Unknown         25    Single              39
15       8.375361  Unknown         20    Single              40
16       7.059202  Unknown         24    Single              35
17       4.210829  Unknown         23    Single              33
18       9.812775  Unknown         27    Single              38
19       8.062305  Unknown         25    Single              39
20       9.250597  Unknown         32    Single              39
21       7.438397  Unknown         30    Single              39
22       8.249698  Unknown         30    Single              40
23       8.875811  Unknown         25    Single              40
24       3.624400  Unknown         26    Single              25

## Create a new model

With a data set which has been feature engineered, it is ready to create model with the `CREATE or REPLACE MODEL` statement

This will take **5-10 minutes** and will show **Done** when complete.

In [ ]:
%%bigquery
CREATE or REPLACE MODEL demo.babyweight_model_fc
OPTIONS
  (model_type='linear_reg', labels=['weight_pounds']) AS
  
WITH with_ultrasound AS (
  SELECT
    weight_pounds,
    CAST(is_male AS STRING) AS is_male,
    IF(mother_age < 18, 'LOW',
         IF(mother_age > 45, 'HIGH',
            CAST(mother_age AS STRING))) AS mother_age,
    CAST(plurality AS STRING) AS plurality,
    CAST(gestation_weeks AS STRING) AS gestation_weeks,
    FARM_FINGERPRINT(CONCAT(CAST(YEAR AS STRING), CAST(month AS STRING))) AS hashmonth
  FROM
    publicdata.samples.natality
  WHERE
    year > 2000
    AND gestation_weeks > 0
    AND mother_age > 0
    AND plurality > 0
    AND weight_pounds > 0
),

without_ultrasound AS (
  SELECT
    weight_pounds,
    'Unknown' AS is_male,
    IF(mother_age < 18, 'LOW',
         IF(mother_age > 45, 'HIGH',
            CAST(mother_age AS STRING))) AS mother_age,
    IF(plurality > 1, 'Multiple', 'Single') AS plurality,
    CAST(gestation_weeks AS STRING) AS gestation_weeks,
    FARM_FINGERPRINT(CONCAT(CAST(YEAR AS STRING), CAST(month AS STRING))) AS hashmonth
  FROM
    publicdata.samples.natality
  WHERE
    year > 2000
    AND gestation_weeks > 0
    AND mother_age > 0
    AND plurality > 0
    AND weight_pounds > 0
),

preprocessed AS (
  SELECT * from with_ultrasound
  UNION ALL
  SELECT * from without_ultrasound
)

SELECT
    weight_pounds,
    is_male,
    mother_age,
    plurality,
    gestation_weeks
FROM
    preprocessed
WHERE
  ABS(MOD(hashmonth, 4)) < 3

Empty DataFrame
Columns: []
Index: []

## Training Statistics

While the new model is training, review the training statistics in the BigQuery UI to see the below model training: https://bigquery.cloud.google.com/

The training details may also be viewed after the training completes from this notebook.

In [ ]:
%%bigquery
SELECT * FROM ML.TRAINING_INFO(MODEL demo.babyweight_model_fc);

   training_run  iteration      loss  eval_loss  learning_rate  duration_ms
0             0          0  1.062619   1.061496            NaN        31849

## Make a prediction with the new model

Perhaps it is of interest to make a prediction of the baby's weight given a number of other factors: Male, Mother is 28 years old, Mother will only have one child, and the baby was born after 38 weeks of pregnancy.

To make this prediction, these values will be passed into the SELECT statement.

In [ ]:
%%bigquery
SELECT
  *
FROM
  ml.PREDICT(MODEL demo.babyweight_model_fc,
      (SELECT
          'true' AS is_male,
          '28' AS mother_age,
          '1' AS plurality,
          '38' AS gestation_weeks
    ))

   predicted_weight_pounds is_male mother_age plurality gestation_weeks
0                 7.447788    true         28         1              38

<br>
<br>
<br>
<br>
Copyright 2020 Google Inc. Licensed under the Apache License, Version 2.0 (the "License"); you may not use this file except in compliance with the License. You may obtain a copy of the License at http://www.apache.org/licenses/LICENSE-2.0 Unless required by applicable law or agreed to in writing, software distributed under the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the License for the specific language governing permissions and limitations under the License